/* 김현정_Mapping Time */
#canvas{
position: relative;

width: 100%;
padding-bottom: 257.64%;
/* width: 1400px;
height: 3607px; */

background: #FFFFFF;
}

/* Artboard 3 1 */
.img1{
position: absolute;
left: 2.86%;
right: 4.29%;
top: 17.02%;
bottom: 55.92%;
width: 92.85%;

/* background: url(Artboard 3.png); */
}

/* Artboard 4 1 */
.img2{
position: absolute;
left: 2.86%;
right: 4.14%;
top: 44.64%;
bottom: 28.31%;
width: 92.85%;

/* background: url(Artboard 4.png); */
}
/* 영상1 */

.img3{
    position: absolute;
    left: 2.86%;
    right: 4.14%;
    top: 73.91%;
    bottom: 3.02%;
    width: 92.85%;
    height: 23.06%;
    
    /* background: #C4C4C4; */
}
