/* 김현정_Collected Book */
#canvas{
position: relative;
width: 100%;
padding-bottom: 125.28%;
/* height: 1754px; */

background: #FFFFFF;

}


/* Artboard 22 */
.img1{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 2.64%;
top: 38.2%;
bottom: 34.04%;

/* background: url(Artboard 22.png); */
}



/* 콜렉티드1 */
.img2{
position: absolute;
width: 22.5%;
left: 2.93%;
right: 74.57%;
top: 70.35%;
bottom: 5.7%;

/* background: url(콜렉티드1.png); */
}

/* 콜렉티드2 */
.img3{
position: absolute;
width: 22.5%;
left: 26.86%;
right: 50.71%;
top: 70.41%;
bottom: 5.7%;
/* background: url(콜렉티드2.png); */
}

/* 콜렉티드3 */
.img4{
position: absolute;
width: 22.5%;
left: 50.79%;
right: 26.79%;
top: 70.41%;
bottom: 5.7%;


/* background: url(콜렉티드3.png); */
}

/* Artboard 20 */
.img5{
position: absolute;
width: 46.42%;
left: 2.79%;
right: 50.71%;
top: 38.14%;
bottom: 34.21%;


/* background: url(Artboard 20.png); */
}

/* 콜렉티드4 2 */
.img6{
position: absolute;
width: 22.5%;
left: 74.79%;
right: 2.86%;
top: 70.47%;
bottom: 5.7%;

/* background: url(콜렉티드4.png); */
}