/* 강소연 Mapping Time */
#canvas{
position: relative;
width: 100;
padding-bottom: 102.72%;

/* width: 1400px;
height: 1438px; */

background: #FFFFFF;

}





/* THUMB_mapping time 1 */
.img1{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 41.45%;
bottom: 6.95%;
width: 94.28%;

/* background: url(THUMB_mapping time.png); */
}