/* 강지은 Mapping Time */
#canvas{
position: relative;
width: 100%;
padding-bottom: 231.92%;
/* width: 1400px;
height: 3247px; */

background: #FFFFFF;

}

/* 1 */
.img1{
position: absolute;
width: 94.28%;

left: 2.86%;
right: 2.86%;
top: 19.25%;
bottom: 52.01%;


/* background: url(1.png); */

}
/* 2 */
.img2{
position: absolute;
width: 94.28%;

left: 2.86%;
right: 2.86%;
top: 48.6%;
bottom: 28.7%;


/* background: url(2.png); */

}
/* 3 */
.img3{
position: absolute;
width: 46.42%;
left: 2.86%;
right: 50.71%;
top: 71.91%;
bottom: 3.07%;

/* background: url(3.jpg); */
}

/* 4 */
.img4{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 2.86%;
top: 71.91%;
bottom: 13.07%;


/* background: url(4.jpg); */

}

