/* 왕근여_Vegetable */
#canvas{
position: relative;
width: 100%;
padding-bottom: 519.92%;
/* height: 7279px; */

background: #FFFFFF;
}


/* Generative system, Video */
#r3{
position: absolute;
left: 2.86%;
right: 79.79%;
top: 77.03%;
bottom: 22.65%;
}



/* Minimal Poster */
#r1{
position: absolute;
left: 2.93%;
right: 86.71%;
top: 9.85%;
bottom: 89.83%;
}



/* Maximal Poster */
#r2{
position: absolute;
left: 2.93%;
right: 86.36%;
top: 42.05%;
bottom: 57.63%;
}




/* 나의 시스템의 결과는 적채의 색깔 특성을 이용하여 타이다이(tie-dye) 제품을 제작하는 것이다. 타이다이 염색한 다음에 포토샵을 이용하여 이미지로 전환하고 만화경처럼 영상을 만들었다. */
#d1{
position: absolute;
left: 2.86%;
right: 48.5%;
top: 77.88%;
bottom: 21.38%;
}




/* 미니멀리즘은 불필요한 요소를 빼고 가장 중요한 정보만 남기는 것이다. 이 때문에 전체적인 조판과 배치에 더욱 신경을 쓰고, 가장 적게 요소로 정보를 효과적으로 전달한다. */
#d2{
position: absolute;
left: 2.93%;
right: 47.21%;
top: 10.7%;
bottom: 88.56%;
}




/* 아름답고 화려한 만화경도 맥시멀리즘의 특징이 있다고 생각해서 작업에서 만화경 회전하고 반복하는 특징을 적용했다. 배경은 적양배추 내부의 무늬를 표현하고 있다. */
#d3{
position: absolute;
left: 2.93%;
right: 37.14%;
top: 42.9%;
bottom: 56.35%;
}




/* KALEIDOSCOPE */
#t1{
position: absolute;
left: 2.86%;
right: 79.21%;
top: 76.45%;
bottom: 22.92%;
}




/* 적채 */
#t2{
position: absolute;
left: 2.86%;
right: 93.5%;
top: 9.42%;
bottom: 90.12%;
}




/* 무늬 */
#t3{
position: absolute;
left: 2.86%;
right: 93.5%;
top: 41.63%;
bottom: 57.92%;
}



/* Line 5 */
.l1{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 8.97%;
bottom: 91.03%;

border: 1px solid #000000;
}

/* Line 7 */
.l2{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 76.15%;
bottom: 23.85%;

border: 1px solid #000000;
}
/* Line 8 */
.l3{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 41.17%;
bottom: 58.83%;

border: 1px solid #000000;
}

/* Rectangle254 */
.vid1{
position: absolute;
width: 94.28%;
height: 18.13%;
left: 2.93%;
right: 2.79%;
top: 80.49%;
bottom: 1.37%;

background: #C4C4C4;
}

/* mini1 */
.img1{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 13.28%;
bottom: 61.07%;

/* background: url(미니멀_왕근여.png); */
}

/* maxi */
.img2{
    width: 94.28%;
position: absolute;
left: 2.86%;
right: 2.86%;
top: 45.51%;
bottom: 28.84%;

/* background: url(맥시멀_왕근여.png); */
}