/* 홍은진_SelfIdentity */
#canvas{
position: relative;
width: 100%;
padding-bottom: 535.35%;
/* height: 7495px; */

background: #FFFFFF;
}

/* 11 */

.img11{
position: absolute;
width: 46.42%;
left: 2.86%;
right: 50.71%;
top: 78.23%;
bottom: 16.86%;

/* background: url(bame 5.png); */ 
}


/* 10 */

.img10{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 2.79%;
top: 78.23%;
bottom: 16.86%;

/* background: url(bame 6.png); */ 
}


/* 9 */

.img9{
position: absolute;
width: 46.42%;
left: 2.86%;
right: 50.71%;
top: 83.4%;
bottom: 11.69%;

/* background: url(bame 7.png); */ 
}


/* 8 */

.img8{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 2.86%;
top: 83.4%;
bottom: 11.69%;

/* background: url(bame 8.png); */ 
}


/* 7 */

.img7{
position: absolute;
width: 46.42%;
left: 2.86%;
right: 50.71%;
top: 88.58%;
bottom: 6.51%;

/* background: url(bame 9.png); */ 
}


/* 6 */

.img6{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 2.86%;
top: 88.58%;
bottom: 6.51%;

/* background: url(bame 10.png); */ 
}


/* 5 */

.img5{
position: absolute;
width: 46.42%;
left: 2.86%;
right: 50.71%;
top: 93.76%;
bottom: 1.33%;

/* background: url(bame11.png); */ 
}


/* 4 */

.img4{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 2.86%;
top: 93.76%;
bottom: 1.33%;

/* background: url(bame12.png); */ 
}


/* 14 */

.img14{
position: absolute;
width: 94.28%;
left: 2.93%;
right: 2.86%;
top: 32.15%;
bottom: 57.93%;

/* background: url(pattern.png); */ 
}


/* 13 */

.img13{
position: absolute;
width: 94.28%;
left: 2.93%;
right: 2.86%;
top: 12.93%;
bottom: 76.06%;

/* background: url(selfidentity 20.png); */ 
}


/* 3 */

.img3{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 3%;
top: 57.4%;
bottom: 29.42%;

/* background: url(bame 2.png); */ 
}


/* 2 */
.img2{
position: absolute;
width: 48.92%;
left: 2.86%;
right: 48.21%;
top: 71.1%;
bottom: 22.04%;

/* background: url(bame 3.png); */ 
}


/* 1 */
.img1{
position: absolute;
width: 44.07%;
left: 52.93%;
right: 3%;
top: 71.1%;
bottom: 22.04%;

/* background: url(bame 4.png); */ 
}


/* Bam_e */
#t4{
position: absolute;
left: 6.86%;
right: 85.5%;
top: 46.36%;
bottom: 53.02%;


font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 46px;

color: #000000;
}


/* 밤므 */
#t3{
position: absolute;
left: 2.93%;
right: 93.43%;
top: 46.47%;
bottom: 53.09%;


font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 33px;
/* identical to box height */

color: #000000;
}



/* Line 5 */
.l1{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 8.71%;
bottom: 91.29%;

border: 1px solid #000000;
}

/* Line 7 */
.l2{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 27.94%;
bottom: 72.06%;

border: 1px solid #000000;
}

/* Line 8 */
.l3{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 46.08%;
bottom: 53.92%;

border: 1px solid #000000;
}

/* Poster */
#r2{
position: absolute;
left: 2.86%;
right: 92.64%;
top: 28.79%;
bottom: 70.9%;


font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* Identity Design */
#r3{
position: absolute;
left: 2.86%;
right: 87%;
top: 46.92%;
bottom: 52.77%;


font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* Screen Shot */
#r1{
position: absolute;
left: 2.93%;
right: 88.79%;
top: 9.57%;
bottom: 90.13%;


font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* 불완전 완벽주의, 분산과 몰입, 자연스러움, 부드러움, 기록을 좋아하는 나 */
#d2{
position: absolute;
left: 2.86%;
right: 60.5%;
top: 29.62%;
bottom: 70.03%;


font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */

color: #000000;
}


/* 일상에 치여 때때로 휴식조차 제대로 취하지 못하는 이들을 위해. 씻는 시간만큼은 편안하게 쉴 수 있도록 도와줄 포근한 욕실용품 브랜드. */
#d3{
position: absolute;
left: 2.86%;
right: 28.5%;
top: 47.75%;
bottom: 51.9%;


font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */

color: #000000;

}

/* 나를 나타내는 스무 가지 물건을 컴퓨터 속에 들어있는 내 머릿속 이미지로 프레젠테이션 하였다. */
#d1{
position: absolute;
left: 2.93%;
right: 49%;
top: 10.39%;
bottom: 89.26%;


font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */

color: #000000;
}


/* PATTERN */
#t2{
position: absolute;
left: 2.86%;
right: 87.14%;
top: 28.23%;
bottom: 71.15%;


font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 46px;

color: #000000;
}


/* what’s in my _? */
#t1{
position: absolute;
left: 2.93%;
right: 80.14%;
top: 9.02%;
bottom: 90.37%;


font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 46px;

color: #000000;
}


/* 12 */
.img12{
position: absolute;
width: 29.14;
left: 35.43%;
right: 35.43%;
top: 50.3%;
bottom: 44.6%;

/* background: url(thumb_bame 1.png); */
}