/* 완성_문한얼_SelfIdentity */
#canvas{
position: relative;
width: 100%;
padding-bottom: 470.28%;
/* height: 6584px; */

background: #FFFFFF;
}

/* Line 4 */
.l1{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 33.13%;
bottom: 66.87%;

border: 1px solid #000000;
}

/* Line 6 */
.l2{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 56.32%;
bottom: 43.68%;

border: 1px solid #000000;
}

/* Line 5 */
.l3{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 9.92%;
bottom: 90.08%;

border: 1px solid #000000;
}

/* Poster */
#r1{
position: absolute;
left: 2.86%;
right: 92.64%;
top: 34.1%;
bottom: 65.55%;
}


/* Identity Design */
#r2{
position: absolute;
left: 2.86%;
right: 87%;
top: 57.29%;
bottom: 42.36%;

}


/* Screen Shot */
#r3{
position: absolute;
left: 2.93%;
right: 88.79%;
top: 10.89%;
bottom: 88.76%;

}


/* 나를 설명하는 문장 5개를 주제로 작업한 패턴포스터. 왼쪽부터 ‘조각조각 콜렉터 / 경계태세로 경계 넘기 / 깊게 들이마시고(흡) 남김 없이 내뱉기(후-) / 장르 불문 잡식가’의 문장을 나타낸 것이다. */
#d1{
position: absolute;
left: 2.86%;
right: 25.71%;
top: 35.04%;
bottom: 64.14%;

}


/* 미술 재료 중고 거래 온라인 플랫폼 ‘화지트’의 아이덴티티를 디자인하였다. */
#d2{
position: absolute;
left: 2.86%;
right: 59.71%;
top: 58.23%;
bottom: 41.37%;

}


/* 내가 살아오며 거부해온 것들을 모아 보여줌으로써 나의 정체성을 간접적으로 규정해써 보고자 한 작업이다. 휴지통 아카이브 내 하위 폴더는 ‘히스토리/ 라이프스타일/ 미래 삭제 예정/ 복구 예정’으로 구성되어 각각의 물건이 분류되어 있다. */
#d3{
position: absolute;
left: 2.93%;
right: 31.5%;
top: 11.83%;
bottom: 87.35%;

}


/* PATTERN */
#t1{
position: absolute;
left: 2.86%;
right: 87.14%;
top: 33.46%;
bottom: 65.84%;


}

/* HWAZIT */
#t2{
position: absolute;
left: 2.86%;
right: 87.86%;
top: 56.65%;
bottom: 42.65%;

}

/* TRASH CAN ARCHIVE */
#t3{
position: absolute;
left: 2.93%;
right: 72.93%;
top: 10.25%;
bottom: 89.05%;


}


/* THUMB_SelfIdentity_Pattern2 */
.img1{
position: absolute;
left: 50.71%;
right: 2.86%;
top: 37.93%;
bottom: 48.24%;

background: url(THUMB_SelfIdentity_Pattern2.jpg);
}

/* SelfIdentity_Pattern1 */
.img2{
position: absolute;
left: 2.86%;
right: 74.64%;
top: 45.05%;
bottom: 48.24%;

background: url(SelfIdentity_Pattern1.jpg);
}

/* SelfIdentity_Pattern3 */
.img3{
position: absolute;
left: 2.86%;
right: 74.64%;
top: 37.93%;
bottom: 55.36%;

background: url(SelfIdentity_Pattern3.jpg);
}

/* SelfIdentity_Pattern4 */
.img4{
position: absolute;
left: 26.79%;
right: 50.71%;
top: 45.05%;
bottom: 48.24%;

background: url(SelfIdentity_Pattern4.jpg);
}

/* SelfIdentity_Pattern5 */
.img5{
position: absolute;
left: 26.79%;
right: 50.71%;
top: 37.93%;
bottom: 55.36%;

background: url(SelfIdentity_Pattern5.jpg);
}

/* SelfBranding7 */
.img6{
position: absolute;
left: 26.79%;
right: 26.79%;
top: 87.27%;
bottom: 1.52%;

background: url(SelfBranding7.jpg);
}

/* SelfBranding1 */
.img7{
position: absolute;
left: 2.86%;
right: 50.71%;
top: 68.29%;
bottom: 26.09%;

background: url(SelfBranding1.jpg);

}
/* SelfBranding2 */
.img8{
position: absolute;
left: 50.71%;
right: 2.86%;
top: 68.29%;
bottom: 26.09%;

background: url(SelfBranding2.jpg);
}

/* SelfBranding3 */
.img9{
position: absolute;
left: 2.86%;
right: 50.71%;
top: 74.51%;
bottom: 19.87%;

background: url(SelfBranding3.jpg);
}

/* SelfBranding5 */
.img10{
position: absolute;
left: 2.86%;
right: 50.71%;
top: 80.44%;
bottom: 13.94%;

background: url(SelfBranding5.jpg);
}

/* SelfBranding6 */
.img11{
position: absolute;
left: 50.71%;
right: 2.86%;
top: 80.44%;
bottom: 13.94%;

background: url(SelfBranding6.jpg);
}

/* SelfIdentity3 */
.img12{
position: absolute;
left: 26.79%;
right: 26.79%;
top: 21.02%;
bottom: 71.43%;

background: url(SelfIdentity3.jpg);
}

/* SelfIdentity1 */
.img13{
position: absolute;
left: 50.71%;
right: 2.86%;
top: 14.72%;
bottom: 79.28%;

background: url(SelfIdentity1.jpg);
}

/* SelfIdentity2 */
.img14{
position: absolute;
left: 2.86%;
right: 50.71%;
top: 14.72%;
bottom: 79.28%;

background: url(SelfIdentity2.jpg);
}

/* image 2 */
.img15{
position: absolute;
left: 26.79%;
right: 26.79%;
top: 61.12%;
bottom: 32.93%;

background: url(image\ 2.jpg);
}

/* image 3 */
.img16{
position: absolute;
left: 50.71%;
right: 2.86%;
top: 74.51%;
bottom: 19.87%;

background: url(image\ 3.jpg);
}
