/* 정세윤 Collected Book */
#canvas{
position: relative;
width: 1400px;
height: 2597px;

background: #000000;
}


/* THUMB_ccb */
.img1{
position: absolute;
width: 1320px;
height: 1901.46px;
left: 40px;
top: 596px;

/* background: url(THUMB_ccb.png); */
}