/* 정세윤 Collected Book */
#canvas{
position: relative;
width: 100%;
padding-bottom: 184.78%;
/* height: 2597px; */

background: #000000;
}


/* THUMB_ccb */
.img1{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 22.95%;
bottom: 3.83%;
/* background: url(THUMB_ccb.png); */
}