/* 황보나현_Mapping Time */
#canvas{
position: relative;
width: 1400px;
height: 4898px;

background: #000000;
}





/* MappingTime 추가 */

.img1{
position: absolute;
width: 985px;
height: 1322px;
left: 40px;
top: 1991px;

/* background: url(MappingTime 추가.png); */
}

/* MappingTime 추가2 */
.img2{
position: absolute;
width: 315px;
height: 424px;
left: 375px;
top: 3393px;

/* background: url(MappingTime 추가2.png); */
}

/* MappingTime 추가3 */
.img3{
position: absolute;
width: 316px;
height: 424px;
left: 710px;
top: 3393px;

/* background: url(MappingTime 추가3.png); */
}

/* MappingTime 추가4 */
.img4{
position: absolute;
width: 319px;
height: 424px;
left: 1046px;
top: 3393px;

/* background: url(MappingTime 추가4.png); */
}

/* mmm_English ver */
.img5{
position: absolute;
width: 648px;
height: 901px;
left: 710px;
top: 3897px;

/* background: url(mmm_English ver.png); */
}

/* THUMB_MappingTime */
.img6{
position: absolute;
width: 983px;
height: 1319px;
left: 375px;
top: 652px;

/* background: url(THUMB_MappingTime.png); */
}