/* 황보나현_Mapping Time */
#canvas{
position: relative;
width: 100%;
padding-bottom: 349.85%;
/* width: 1400px;
height: 4898px; */

background: #000000;
}





/* MappingTime 추가 */

.img1{
position: absolute;
width: 70.35%;
left: 2.86%;
right: 26.79%;
top: 40.65%;
bottom: 32.36%;
/* background: url(MappingTime 추가.png); */
}

/* MappingTime 추가2 */
.img2{
position: absolute;
width: 22.5%;
left: 26.79%;
right: 50.71%;
top: 69.27%;
bottom: 22.07%;
/* background: url(MappingTime 추가2.png); */
}

/* MappingTime 추가3 */
.img3{
position: absolute;
width: 22.5%;
left: 50.71%;
right: 26.79%;
top: 69.27%;
bottom: 22.07%;

/* background: url(MappingTime 추가3.png); */
}

/* MappingTime 추가4 */
.img4{
position: absolute;
width: 22.5%;
left: 74.64%;
right: 2.86%;
top: 69.27%;
bottom: 22.07%;

/* background: url(MappingTime 추가4.png); */
}

/* mmm_English ver */
.img5{
position: absolute;
width: 46.42%;
left: 50.71%;
right: 3%;
top: 79.56%;
bottom: 2.04%;
/* background: url(mmm_English ver.png); */
}

/* THUMB_MappingTime */
.img6{
position: absolute;
width: 70.35%;
left: 26.79%;
right: 2.86%;
top: 13.31%;
bottom: 59.76%;

/* background: url(THUMB_MappingTime.png); */
}