/* 박주혜_Collected Book */
#canvas{
position: relative;
width: 100%;
padding-bottom: 391%;
/* height: 5474px; */

background: #000000;

}

/* 편집-03 1 */
.img1{
position: absolute;
width: 49.28%;
left: 25.36%;
right: 25.36%;
top: 11.91%;
bottom: 73.62%;


/* background: url(편집-03.png); */
}

/* 편집-04 1 */
.img2{
position: absolute;
width: 49.28%;
left: 25.36%;
right: 25.36%;
top: 27.84%;
bottom: 58.4%;


/* background: url(편집-04.png); */

}
/* 편집-07 1 */
.img3{
position: absolute;
width: 71.42%; 
left: 16.43%;
right: 12.07%;
top: 59.12%;
bottom: 20.94%;

/* background: url(편집-07.png); */
}

/* 편집-08 1 */
.img4{
position: absolute;
width: 100%;
left: 0%;
right: 0%;
top: 43.09%;
bottom: 42.33%;
/* background: url(편집-08.png); */
/* transform: rotate(90deg); */
}

/* 편집-05 1 */
.img5{
position: absolute;
width: 100%;
left: 0%;
right: 0%;
top: 80.53%;
bottom: 1.83%;

/* background: url(편집-05.png); */
/* transform: rotate(-90deg); */
}