/* 황주원_컬렉티드북 */
#canvas{
position: relative;
width: 1400px;
height: 4317px;

background: #000000;

}
#temp{
    width: 500px;
}

/* 황주원 collected book3 */
.img1{
position: absolute;
height: 626px;
width: 1320px;
/* left: 1360px; */
top: 3370px;

/* background: url(황주원 collected book3.png); */
/* transform: rotate(90deg); */
}

/* 황주원 collected book1 */
.img2{
position: absolute;
width: 1302px;
height: 928px;
left: 40px;
top: 652px;

/* background: url(황주원 collected book1.png); */
}

/* 황주원 collected book2 */
.img3{
position: absolute;
height: 1761px;
width: 1320px;
/* left: 1360px; */
top: 1580px;

/* background: url(황주원 collected book2.png); */
/* transform: rotate(90deg); */
}