/* 홍은진_컬렉티드북 */
#canvas{
position: relative;
width: 100%;
padding-bottom: 434.64%;
/* height: 6085px; */

background: #000000;
}
 

/* K */
#temp1{
position: absolute;
width: 42px;
height: 85px;
left: 40px;
top: 120px;

font-family: 'Futura_PT_Demi';
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 85px;
/* identical to box height */

color: #FFFFFF;

}


/* - 디자인 */
#temp2{
position: absolute;
width: 185px;
height: 61px;
left: 91px;
top: 132px;

font-family: "NexonLv2Gothic_Bold";
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 61px;
/* identical to box height */

color: #FFFFFF;
}


/* collected 1 1 */
.img1{
position: absolute;
/* width: 985px; */
width: 70.35%;
left: 26.79%;
right: 2.86%;
top: 10.71%;
bottom: 73.1%;

/* background: url(collected 1.png); */

}
/* collected 2 */
.img2{
position: absolute;
/* width: 985px; */
width: 70.35%;
left: 2.86%;
right: 26.79%;
top: 27.23%;
bottom: 56.58%;

/* background: url(collected 2.png); */
}

/* collected 4 */
.img3{
position: absolute;
/* width: 985px; */
width: 70.35%;
left: 26.79%;
right: 2.86%;
top: 65.65%;
bottom: 18.16%;

/* background: url(collected 4.png); */
}

/* collected 5 */
.img4{
position: absolute;
/* width: 985px; */
width: 70.35%;
left: 2.86%;
right: 26.79%;
top: 82.17%;
bottom: 1.64%;

/* background: url(collected 5.png); */
}

/* collected 3 */
.img5{
position: absolute;
width: 94.28%;
left: 3.07%;
right: 3%;
top: 43.71%;
bottom: 34.68%;

/* background: url(collected 3.png); */
}