
html{
    margin: 0;
    position: relative;
    width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */   
    
}


html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    /* height: 100%; */
}

.randContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.randimg{
    position: relative;
    top: 50px;
    height: 90vh;
}