/* 왕근여_ShapeResearch */
#canvas{
position: relative;
width: 100%;
padding-bottom: 545.14%;
/* height: 7632px; */

background: #FFFFFF;
}

/* 1 */
.img1{
position: absolute;
width: 46.42%;
left: 2.93%;
right: 50.71%;
top: 11.14%;
bottom: 76.86%;

/* background: url(원 포스터_왕근여_1-1.png); */
}

/* 2 */
.img2{
position: absolute;
 width: 46.42%;

left: 50.79%;
right: 2.86%;
top: 11.14%;
bottom: 76.86%;

/* background: url(원 포스터_왕근여_1-2.png); */

}
/* 3 */
.img3{
position: absolute; width: 46.42%;
left: 26.86%;
right: 26.79%;
top: 23.4%;
bottom: 64.6%;

/* background: url(원 포스터_왕근여_1-3.png); */
}

/* 4 */
.img4{
position: absolute; width: 46.42%;
left: 50.71%;
right: 2.86%;
top: 42.77%;
bottom: 45.19%;

/* background: url(원 포스터_왕근여_2-1.png); */
}

/* 5 */
.img5{
position: absolute; width: 46.42%;
left: 2.86%;
right: 50.71%;
top: 48.78%;
bottom: 39.18%;

/* background: url(원 포스터_왕근여_2-2.png); */
}

/* 6 */
.img6{
position: absolute; width: 46.42%;
left: 50.71%;
right: 2.86%;
top: 55.7%;
bottom: 32.26%;

/* background: url(원 포스터_왕근여_2-3.png); */
}

/* 7 */
.img7{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 74.25%;
bottom: 1.31%;


/* background: url(shape poster_왕근여.png); */
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}



/* Line 5 */
.l1{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 8.56%;
bottom: 91.44%;

border: 1px solid #000000;
}

/* Poster */
#r1{
position: absolute;
left: 2.86%;
right: 92.64%;
top: 40.17%;
bottom: 59.53%;


font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* Poster */
#r2{
position: absolute;
left: 2.86%;
right: 92.64%;
top: 72.51%;
bottom: 27.19%;


font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* Poster */
#r3{
position: absolute;
left: 2.93%;
right: 92.57%;
top: 9.39%;
bottom: 90.3%;


font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;

}

/* 인체 */
#t2{
position: absolute;
left: 2.86%;
right: 93.5%;
top: 39.77%;
bottom: 59.8%;


font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 33px;
/* identical to box height */

color: #000000;
}


/* 우주·자연·인체 */
#t1{
position: absolute;
left: 2.86%;
right: 84.36%;
top: 8.99%;
bottom: 90.58%;


}


/* NON-DESIGN CIRCLE */
#t3{
position: absolute;
left: 2.86%;
right: 72.79%;
top: 71.96%;
bottom: 27.44%;


}


/* Line 4 */
.l2{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 39.33%;
bottom: 60.67%;

border: 1px solid #000000;

}
/* Line 7 */
.l3{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 71.67%;
bottom: 28.33%;

border: 1px solid #000000;
}