/* 김예은 Mapping Time */
#canvas{
position: relative;
width: 100%;
padding-bottom: 182.42%;

/* height: 2554px; */

background: #000000;
}



/* THUMB_Asset 37 */
.img1{
position: absolute;
width: 46.42%;
left: 26.79%;
right: 26.79%;
top: 24.47%;
bottom: 40.26%;


/* background: url(THUMB_Asset 37.png); */

}
/* CzbSJT */
.img2{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 60.53%;
bottom: 3.91%;

/* background: url(CzbSJT.png); */
}