/* 김조은_컬렉티드북 */
#canvas{
position: relative;
width: 1400px;
height: 4857px;

background: #000000;
}

/* 널려있는 전시 인쇄물들 */
#temp1{
position: absolute;
width: 843px;
height: 19px;
left: 617px;
top: 2208px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */

color: #FFFFFF;}



/* 전시 별 메인그래픽을 활용하여 체계 부여 */
#temp2{
position: absolute;
width: 843px;
height: 19px;
left: 617px;
top: 3893px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */

color: #FFFFFF;}

/* 3월- 스위스 취리히 박물관 6월- 르네 마그리트 8월- 2020 아시아프 9월- 할머니 우리 할머니, 언리미티드 에디션 10월- UnfoldX, 100 베스테 플라카테, 국립현대미술관 11월- 팀랩, 제로원, 졸전 */
#temp3{
position: absolute;
width: 843px;
height: 369px;
left: 847px;
top: 2520px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */

color: #FFFFFF;
}



/* 스크린샷 2021-12-01 오후 11.20 1 */
.img1{
    position: absolute;
    width: 1300px;
    height: 687px;
    left: 60px;
    top: 652px;
    
    /* background: url(스크린샷 2021-12-01 오후 11.20.png); */
    }
    

/* 스크린샷 2021-12-01 오후 11.22 1 */
.img2{
position: absolute;
width: 1014px;
height: 725px;
left: 192px;
top: 1415px;

/* background: url(스크린샷 2021-12-01 오후 11.22.png); */
}

/* 스크린샷 2021-12-01 오후 11.27 1 */
.img3{
position: absolute;
width: 663px;
height: 760px;
left: 101px;
top: 2298px;

/* background: url(스크린샷 2021-12-01 오후 11.27.png); */
}
/* 스크린샷 2021-12-05 오후 1.57 1 */
.img4{
position: absolute;
width: 1319px;
height: 742px;
left: 40px;
top: 3126px;

/* background: url(스크린샷 2021-12-05 오후 1.57.png); */
}

/* 스크린샷 2021-12-01 오후 11.25 1 */
.img5{
position: absolute;
width: 969px;
height: 855px;
left: 268px;
top: 3936px;

/* background: url(스크린샷 2021-12-01 오후 11.25.png); */
}