/* 송혜주_MappingTime */

#canvas{
    position: relative;
    width: 100%;
    padding-bottom: 254.21%;

    /* width: 1400px;
    height: 3559px; */
    background: #FFFFFF;
}


/* mapping 2 */
.img1{
position: absolute;
left: 50.71%;
right: 2.86%;
top: 16.47%;
bottom: 57.74%;
width:46.42%;

/* background: url(mapping 2.png); */

}
/* mapping1 1 */
.img2{
position: absolute;
left: 2.79%;
right: 51%;
top: 44.51%;
bottom: 37.26%;
width:46.42%;

/* background: url(mapping1.png); */
}

/* mapping 3 1 */
.img3{
position: absolute;
left: 50.86%;
right: 2.86%;
top: 58.05%;
bottom: 17.62%;
width:46.42%;

/* background: url(mapping 3.png); */
}

/* mapping2 1 */
.img4{
position: absolute;
left: 2.79%;
right: 50.86%;
top: 78.65%;
bottom: 3.09%;
width:46.42%;

/* background: url(mapping2.png); */
}

/* mapping 1 */
.img5{
position: absolute;
left: 2.86%;
right: 50.71%;
top: 16.47%;
bottom: 57.71%;
width:46.42%;


/* background: url(mapping 1.png); */
}