/* 황주원_MappingTime */
#canvas{
position: relative;
width: 100%;
padding-bottom: 186.42%;
/* height: 2610px; */

background: #FFFFFF;

}




/* 황주원 Mappingtime 1 */
.img1{
position: absolute;
width: 94.28%;
left: 3.07%;
right: 3%;
top: 24.98%;
bottom: 3.83%;
/* background: url(황주원 Mappingtime); */
}
