@font-face {
    font-family: 'Futura_PT_Medium';
    src: url(../../../css/font/FuturaPT/FuturaPT-Medium.eot) format("embedded-opentype"),
    url(../../../css/font/FuturaPT/FuturaPT-Medium.ttf) format("truetype"),
    url(../../../css/font/FuturaPT/FuturaPT-Medium.woff) format("woff");
    }
    
    @font-face {
        font-family: 'Futura_PT_Demi';
        src: url(../../../css/font/FuturaPT/FuturaPT-Demi.eot) format("embedded-opentype"),
        url(../../../css/font/FuturaPT/FuturaPT-Demi.ttf) format("truetype"),
        url(../../../css/font/FuturaPT/FuturaPT-Demi.woff) format("woff");
    }
    
    @font-face {
        font-family: 'NexonLv2Gothic_Regular';
        src: url(../../../css/font/NexonLv2Gothic/NEXON-Lv2-Gothic.ttf) format("truetype"),
        url(../../../css/font/NexonLv2Gothic/NEXON-Lv2-Gothic.woff) format("woff");
    }
    
    @font-face {
        font-family: 'NexonLv2Gothic_Medium';
        src: url(../../../css/font/NexonLv2Gothic/NEXON-Lv2-Gothic-Medium.ttf) format("truetype"),
        url(../../../css/font/NexonLv2Gothic/NEXON-Lv2-Gothic-Medium.woff) format("woff");
    }
    
    @font-face {
        font-family: 'NexonLv2Gothic_Bold';
        src: url(../../../css/font/NexonLv2Gothic/NEXON\ Lv2\ Gothic\ Bold.ttf) format("truetype"),
        url(../../../css/font/NexonLv2Gothic/NEXON\ Lv2\ Gothic\ Bold.woff) format("woff");
    }
    


    
html{
    /* background: #FFFFFF; */
    /* background: #000000; */

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */   
}


html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


/* 성슬기_Mapping Time */

#canvas{
position: relative;
padding-top: 187.07%;
width: 100%;
/* width: 1400px;
height: 2619px; */

background: #FFFFFF;
}


/* 1.mapping time 1 */
.img1{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 24.89%;
bottom: 3.82%;
width: 100%;
padding-bottom: 141.43%;
/* background: url(1.mapping\ time\ 1.jpg); */
}


/* Contact */
.contact{
position: absolute;
left: 50.71%;
right: 43.43%;
top: 11.76%;
bottom: 86.9%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}


/* seongseulgi21@gmail.com */
.instagramID{
position: absolute;
left: 62.64%;
right: 14.21%;
top: 11.72%;
bottom: 87.4%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* Designer */
.designer{
position: absolute;
left: 50.71%;
right: 42.79%;
top: 10.73%;
bottom: 87.93%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}


/* Mapping Time */
.projectName{
position: absolute;
left: 14.86%;
right: 65.14%;
top: 10.73%;
bottom: 88.39%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* 성슬기 */
.studentName{
position: absolute;
left: 62.64%;
right: 16.71%;
top: 10.73%;
bottom: 88.39%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;

}

/* MAPPING TIME */
.mainTitle{
position: absolute;
left: 2.86%;
right: 65.21%;
top: 4.58%;
bottom: 92.17%;

font-family: "Futura_PT_Medium";
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 85px;
/* identical to box height */

color: #000000;

}

/* Category */
.category{
position: absolute;
left: 2.86%;
right: 89.07%;
top: 11.72%;
bottom: 87.4%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* - */
.categoryTxt{
position: absolute;
left: 14.86%;
right: 65.71%;
top: 11.72%;
bottom: 87.4%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;

}

/* Project */
.project{
position: absolute;
left: 2.86%;
right: 90.71%;
top: 10.73%;
bottom: 88.39%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

color: #000000;
}


/* 매달 겪게되는 PMS증후군을 시간의 지도로 표현하였다. */
.explain{
position: absolute;
left: 2.86%;
right: 36.93%;
top: 15.65%;
bottom: 83.35%;

font-family: 'NexonLv2Gothic_Regular';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */

color: #000000;

}