/* 성슬기_Mapping Time */

#canvas{
    margin: 0;
    position: relative;
    padding-bottom: 187.07%;
    width: 100%;
    /* width: 1400px;
    height: 2619px; */

    background: #FFFFFF;
}


/* 1.mapping time 1 */
.img1{
position: absolute;
left: 2.86%;
right: 2.86%;
top: 24.89%;
bottom: 3.82%;
width: 95%;
/* background: url(1.mapping\ time\ 1.jpg); */
}