/* 성슬기_Mapping Time */
#canvas{
position: relative;
width: 1400px;
height: 2619px;

background: #FFFFFF;

}
/* 1.mapping time 1 */
.img1{
position: absolute;
width: 1320px;
height: 1867px;
left: 40px;
top: 652px;

/* background: url(1.mapping time.png); */
}
