/* 성슬기_Collected Book */
#canvas{
position: relative;
width: 100%;
padding-bottom: 123.57%;
/* height: 1730px; */

background: #FFFFFF;
}

/* 2.collected book 1 */
.img1{
position: absolute;
width: 94.28%;
left: 2.86%;
right: 2.86%;
top: 37.69%;
bottom: 5.78%;


/* background: url(2.collected book.png); */

}
